@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
:root{
  --mainColor:#cda45e;
}
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
.body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  overflow-x: hidden;
}

/* navbar started */
.navbar_vavv{
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to right top, #87e0ff, #53c7f0);
  /* color: rgba(226,226,266); */
  align-items: center;
  margin: 0;
  padding: 0;
}
.logo{
  margin: 2px;
  padding: 0px;
  width:75%;
  height:15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background: blue; */
}
.logo h1{
  font-size: 25px;
  /* word-break: break-all; */
}
@media screen and (max-width:768px){
  .logo h1{
    font-size: 20px;
  }
}
@media screen and (max-width:500px){
  .logo h1{
    font-size: 15px;
  }
}
.logo .image{
  /* max-width: 100%; */
  width: 140px;
  height: 100%;
  margin: 10px;
  border-style: none;
  vertical-align: middle;
  /* background: red; */
}
.nav-active{
  transform: translateX(0%);
}

/* navbar end */

/* layout detail */
.layout3-vavv{
  /* background:  red; */
  background: linear-gradient(to right bottom, #F1F1F1, #CED2CC);
  padding: 10px;
  /* margin: 2px; */
}

.mini_container_vavv {
    border-radius: 10px;
    background-color: rgba(256,256,256, 0.9);
    margin: 20px 10px;
    padding: 10px;
    position: relative;
    /* color:rgba(226, 226, 226)!important; */
    /* min-width: 45%; */
    /* min-height: 45%; */
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    /* transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in; */
}
/* .mini_container_vavv:hover{
  background: rgba(0,0,0,0.9);
  color: #fff;
} */



/* detail of text */

.heading_name{
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 0.5px;
  padding: 5px;
  color: #202020;
}


.info_group_vavv{
  display: flex;
  /* background-color: red; */
  margin: 2px;
  flex-wrap: wrap;
  flex-shrink: 1;
}
.info_group_mem_vavv{
  min-width:30%;
  display: flex;
  padding:10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  /* flex-wrap: wrap; */
  /* background-color: pink; */
}



.card-heading-vavv{
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.5px;
  padding: 5px;
  color: #1C4E80;
}

.card-detail-vavv{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  padding: 2px;
  color: #EA6A47;
}

@media screen and (max-width:600px){
  .heading_name{
    font-size: 30px;
  }
  .card-detail-vavv{
    font-size: 10px;
  }
  .card-heading-vavv{
    font-size: 20px;
  }
}

.btn_vavv{
  width: 20px;
  /* color: red; */
  height: 20px;
  padding: 0;
  margin: 0 0 20px 5px;

}

.card_vavv{
  border-radius: 10px;
  background-color: rgba(256,256,256, 0.9);
  margin: 10px 25px;
  padding: 10px;
  /* position: relative; */
  /* margin:10px 10px; */
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  text-align: center;
}

strong{
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 0.5px;
  padding: 5px;
  color: #1C4E80;
}

.card2_vavv H1{
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 0.5px;
  padding: 5px;
  color: #EA6A47;
  text-align: center;
  margin-top: 20px;
}



.description_vavv{
  padding: 100px 40px;
  color: rgba(0, 0, 10, 0.9);
}
.description_vavv2{
  padding: 50px 40px 0 40px;
  color: rgba(0, 0, 10, 0.9);
}

li strong{
  color:#EA6A47;
}

li{
  color: rgba(0, 0, 0, 0.9);
}



/* data inside modal */
.cards-group_vavv{
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  /* align-content: space-between; */
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.cards-group_vavv .card{
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  padding: 10px;
  width : 25rem;
  /* min-width: 30%; */
  margin: 10px;
}

.card2_vavv{
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 0.5rem;
  padding: 5px;
  width : 20rem;
  /* min-width: 30%; */
  margin: 2px;
}




.
/* table */

table {
  border-spacing: 0.5rem;
  font-weight: 500;
  font-size: 20px;
  border-collapse: collapse;
  word-wrap: normal;
  max-width: 600px;
  table-layout: fixed;
  /* background: red; */
}
td {
  padding: 0.5rem;
}
.summary .head{
  text-align: right;
  width: 300px;
}
/* table end */



/* partners */
.partners{
  background-image: url("Pictures/IMG_3355.JPG");
  background-size: cover;
  background-position: middle center;
  padding: 0;
  margin:0;
  position: relative;
  z-index: 1;
  width: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: space-evenly;
}
.partners::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
.heading{
  height: 50%;
  align-items: center;
}
.heading h1{
  color:rgba(226, 226, 226);
  margin: 20px;
  font-size: 30px;
}
.heading p{
  color:rgba(226, 226, 226);
  margin:20px 30px;
  font-size: 15px;
}


.result-back{
  background-image: url("Pictures/PGC_9130.jpg");
  background-size: cover;
  padding: 0;
  margin:0;
  position: relative;
  min-height: 80vh;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.result-back::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
ul{
	/* list-style:none; */
  color: rgba(226, 226, 226)
}


.result{
  color: rgba(226, 226, 226);
  z-index: 10;
}


.result h1{
  /* font-size: 20px; */
  margin-top: 10px;
  font-weight: 500;
}




.list-result{
  margin: 100px;
}
.left-list{
  margin:20px;
  font-size: 15px;
}
.result-back .heading{
  margin-top: 30px;
}
.dropdown{
  color:black;
  z-index: 100;
}
.para{
  color: rgba(226, 226,226);
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
}


.footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  min-height: 100px;
	flex-direction: row;
	padding-top: 50px;
	padding-bottom: 10px;
  justify-content: center;
  align-items: center;
}
.footer p{
  color:rgba(226, 226, 226);
}
.footer h1 {
  color:rgba(226, 226, 226);
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin: 10px;
  text-transform: uppercase;
}
.footer h1 span {
	color: crimson;
  margin-left: 20px;
}
.footer a{
  text-decoration: none;
}

.my_desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


.slider {
  -webkit-appearance: none;
  width: 40%;
  height: 50px;
  /* background-color: #0097a7; */
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}
